<?xml version="1.0"?>
<launch>
	
	<arg name="map_file" default="$(find msu_autorally_helper)/maps/base_oval_track_map_clean.yaml"/>
	<!-- <arg name="map_file" default="$(find msu_autorally_helper)/maps/blank_map.yaml"/> -->
	
	
	<!-- Start the Base Controller Nodelet -->
	<include file="$(find msu_autorally_helper)/launch/base_controller_nodelet.launch" />
	
	<!-- Possible Mapping launch files -->
	<!-- <include file="$(find msu_autorally_helper)/launch/msu_gmapping.launch"/> -->
	<!-- <include file="$(find msu_autorally_helper)/launch/msu_hector_mapping.launch"/> -->
	
	<!-- AMCL localization node -->
	<node name="autorally_amcl_node" pkg="amcl" type="amcl">
		<remap from="scan" to="lidar_front"/>
		<param name="initial_pose_x" value="0"/>
		<param name="initial_pose_y" value="-25"/>
		<param name="initial_pose_a" value="0.75"/>
	</node>
	
	
	<!-- Move_base node -->
	<node name="autorally_move_base" pkg="move_base" type="move_base">
		<remap from="scan" to="lidar_front"/>
		<rosparam file="$(find msu_autorally_helper)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find msu_autorally_helper)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find msu_autorally_helper)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find msu_autorally_helper)/config/global_costmap_params.yaml" command="load" />
		<!-- <rosparam file="$(find msu_autorally_helper)/config/base_local_planner_params.yaml" command="load" />--> <!-- Base local planner config -->
		<rosparam file="$(find msu_autorally_helper)/config/teb_local_planner_params.yaml" command="load" /> <!-- teb local planner config -->
		<rosparam file="$(find msu_autorally_helper)/config/move_base_params.yaml" command="load" />
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> <!-- TrajectoryPlannerROS   TebLocalPlannerROS -->
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
	</node>
	
	
	<!-- Run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	
	

	
</launch>
