<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />

  <node pkg="nodelet" type="nodelet" name="Base_controller_nodelet" args="load autorally_control/base_controller_nodelet autorally_core_manager" output="screen"  machine="autorally-master">

    <rosparam param="throttleCalibration" command="load" file="$(env AR_CONFIG_PATH)/throttlePositionCalibration.yaml" />
    <param name="speedCommander" value="OCS" />

    <param name="controlEnabled" value="true" />
    <param name="KP" value="0.1" />
    <param name="KD" value="1.0" />
    <param name="accelerationRate" value="0.0" />
    <param name="KI" value="0.01" />
    <param name="IMax" value="0.1" />
    <param name="alpha" value="0.25" />

  </node>
  

</launch>
