<?xml version="1.0"?>

<launch>
	<!-- <node name = "lidar_obstacle_avoidance_controller" pkg="msu_autorally_helper" type="lidar_obstacle_avoidance_controller.py" output="screen"/> -->
	
	<include file="$(find autorally_gazebo)/launch/autoRallyTrackGazeboSim_MSU.launch" />
	<include file="$(find autorally_core)/launch/stateEstimator.launch" />
	<include file="$(find autorally_control)/launch/waypointFollower.launch" />
	<include file="$(find autorally_control)/launch/constantSpeedController.launch" />
	<!-- <include file="$(find msu_autorally_helper)/launch/msu_gmapping.launch"/> -->
	 <include file="$(find msu_autorally_helper)/launch/msu_hector_mapping.launch"/>

	<group ns="msu_autorally_helper">
		<node name = "runstopMotionEnabled_pub" pkg="msu_autorally_helper" type="runstopMotionEnabled_pub.py"/>
		<node name = "speed_controller_speed_pub" pkg="msu_autorally_helper" type="constant_speed_controller_speed_pub.py"/>
	</group>
	
		
	<group ns="msu_autorally_utility_trackers">
		<node name = "collision_monitor" pkg="msu_autorally_helper" type="autorally_collision_monitor.py" output="screen"/>
	</group>
	
	
	<group ns="msu_autorally_goal_model_nodes">
		<node name = "goal_model_node" pkg="msu_autorally_helper" type="goal_model_monitor.py" output="screen"/>
	</group>
	
	<group ns="msu_tf_helpers">
		<node name="hokuyo_tf_broadcaster" pkg="msu_autorally_helper" type="laser_tf_broadcaster.py"/>
		<node name="odom_to_baselink_tf_broadcaster" pkg="msu_autorally_helper" type="odom_to_baselink_tf_broadcaster.py"/>
	</group>
	
	

	
	
	
</launch>
