<?xml version="1.0"?>

<launch>
	
	<!-- Start the Gazebo World -->
	<arg name="gui" default="true"/>
	<include file="$(find msu_autorally_helper)/launch/spawn_gazebo_world.launch">
		<arg name="gui" value="$(arg gui)"/>
	</include>
	
	
	<!-- Start the Autorally Platform -->
	<include file="$(find msu_autorally_helper)/launch/spawn_autorally_platform.launch" />
	
</launch>
