<?xml version="1.0"?>

<launch>
	
	<arg name="waypoint_file" default="$(find msu_autorally_helper)/waypoints/obstacle_wp_jon.yaml"/>
	<rosparam file="$(arg waypoint_file)" command="load" />
	
	<node name="move_base_sequence" pkg="msu_autorally_helper" type="move_base_goal_publisher_node.py" output="screen"/>
</launch>
